#page-top #body-container .show-on-scroll {
    opacity: 0;
    transform: translateY(10rem); 
    -moz-transition: transform 1s, opacity 0.6s ease-in-out;
    -o-transition: transform 1s, opacity 0.6s ease-in-out;
    -webkit-transition: transform 1s, opacity 0.6s ease-in-out;
    transition: transform 1s, opacity 0.6s ease-in-out;
    will-change: transform, opacity;
}
#page-top #body-container .show-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0rem); 
}

#awards img.awards-img.show-on-scroll {
    opacity: 0;
    transform: translateY(10rem); 
    -moz-transition: transform 0.6s, opacity 0.6s ease-in-out;
    -o-transition: transform 0.6s, opacity 0.6s ease-in-out;
    -webkit-transition: transform 0.6s, opacity 0.6s ease-in-out;
    transition: transform 0.6s, opacity 0.6s ease-in-out;
    will-change: transform, opacity;
}
#awards img.awards-img.show-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(1rem); 
}