#awards * {
	box-sizing: border-box;
}
#awards {
    margin-top:100px;
}
#awards p.awards-text {
    padding-top:0;
}
#awards img {
  width: 100%;
}
#awards article {
  padding: 1px;
  /* border: 1px solid #999;
  border-radius: 5px; */
  background: #fff;
}
#awards h1 {
    margin-top: 0;
    margin-left: 0.75rem;
}
#awards main div {
  display:flex;
  width:100%;
}
#awards main .h-awards-row {
  flex-direction:row;
}
#awards main .v-awards-row {
  flex-direction:row;
  flex-wrap:wrap;
}
#awards main .v-awards-row article {
  flex-basis:33%;

}
@media (min-width:992px) {
  #awards p.awards-text {
    padding-top:20px;
  }
}
@media (max-width:575px) {
    #awards main .h-awards-row {
      flex-wrap:wrap;
    }
    #awards main .h-awards-row article {
      flex-basis: 50%;
    }
}